@charset "utf-8";
/* CSS Document */

* {
    padding: 0;
    box-sizing: border-box;
}


body{
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}

a {
   text-decoration: none; 
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

.wrapper main {
   width: 96%;
   margin: 0 auto; 
}

/* ---------------------- MOBILE VERSION ---------------------------- */

/* MAIN CONTENT */

.right-episode-link {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 20em 1em 0 0;
}

.right-link {
    font-weight: 400;
    font-size: 0.5em;
    color: #fff;
    text-transform: uppercase;
    background-color: #666;
    border: 1px solid #666;
    letter-spacing: 3px;
    padding: 8px;
    border-radius: 15px;
    margin-top: -1em;
}

/** LEFT DIVS **/

/*First Section */

.moti-logo {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 80px;
  margin: 0.5em 0 0 1em;
}

.moti-logo img {
    max-width: 100%;
    height: auto;
}

#left1 {
    background: url('img/first-left.png') no-repeat center;
    position: relative;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;
}

.wt-description-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: 150px;
    text-align: left;
    padding: 5px;
    margin: 1em 0 0 1em;
    color: #fff;
}

.wt-description-left h1 {
    font-weight: 600;
    font-size: .625em;
    line-height: 44px;
    letter-spacing: normal;
    text-transform: uppercase;
}

date {
    font-weight: 300;
    font-size: 0.5em;
    line-height: 20px;
    letter-spacing: normal;
    padding-bottom: 3px;

}

#left1 p {
    font-weight: 400;
    font-size: 0.6875em;
    line-height: 18px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.authors {
  display: none;
}

.socials {
  display: none;
}

/*Second section */

    
#left2 {
    background: url('img/second-left.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;
}

/* Third section */
#left3 {
    background: url('img/third-left.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;
}

/* Fourth section */
#left4 {
    background: url('img/fourth-left.png') no-repeat center;
    position: relative;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;  
}

/** RIGHT DIVS **/


/* First section */

#right1 {
    background: url('img/first-right.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;
}

#right1 img {
    max-width: 90%;
    height: auto;
}

.wt-description-right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    max-width: 160px;
    text-align: right;
    padding: 5px;
    margin: 1em 0 0 8em;
}

.wt-description-right h1 {
    font-weight: 600;
    font-size: .625em;
    line-height: 44px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-left: -3em;
}

#right1 p {
    font-weight: 400;
    font-size: 0.6875em;
    line-height: 18px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.authors {
display: none;
}

.socials {
    display: none;
}

.right1-button {
     margin-top: -1em;   
}

/* Second section */

#right2 {
    background: url('img/second-right.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1; 
}

/* Third section */
#right3 {
    background: url('img/third-right.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;
} 




/* Fourth section */
#right4 {
    background: url('img/fourth-right.png') no-repeat center;
    position: relative;
    background-position: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    z-index: -1;    
}
       
/* ---------------------- TABLET VERSION ---------------------------- */
@media (min-width: 48em) {
    
/* MAIN CONTENT */

.right-episode-link {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 42em 1em 0;
}
    
 .right-link {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 3px;
    padding: 8px;
    border-radius: 20px;
}

/** LEFT DIVS **/

/*First Section */

.moti-logo {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 80px;
  margin: -13em 0 0 1em;
}

.moti-logo img {
    max-width: 100%;
    height: auto;
}
    
/** LEFT DIVS **/
.wt-description-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: 290px;
    text-align: left;
    padding: 3px;
    margin: 1em 0 0 1em;
    color: #fff;
}

.wt-description-left h1 {
    font-size: 1.1em;
    line-height: 44px;
    letter-spacing: 3px;
    margin-top: 2em;
}

date {
    font-weight: 300;
    font-size: 0.7em;
    line-height: 20px;
    letter-spacing: normal;
    padding-bottom: 10px;

}

#left1 p {
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.wt-description-left .authors {
  display: none;
}

.wt-description-left .socials {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 18px;
  letter-spacing: normal;
  display: flex; 
  flex-flow: column wrap;
}

.wt-description-left .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 1em;    
}

.wt-description-left .social-icons a {
   color: #fff; 
   font-size: 30px; 
}    
    

/** RIGHT DIVS **/


/* First section */
    
#right1 img {
    max-width: 70%;
    height: auto;
}

.wt-description-right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    max-width: 290px;
    text-align: right;
    padding: 3px;
    margin: -7.8em 0 0 11em;
}

.wt-description-right h1 {
    font-size: 1.1em;
    line-height: 44px;
    letter-spacing: 3px;
    margin-left: -5em;
}

#right1 p {
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.wt-description-right .authors {
  display: none;    
}

.wt-description-right .socials { 
  font-weight: 400;
  font-size: 0.8em;
  line-height: 18px;
  letter-spacing: normal;
  display: flex; 
  flex-flow: column wrap;
  margin-top: 1.7em;    
}

.wt-description-right .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 1em;    
}

.wt-description-right .social-icons a {
   color: #000; 
   font-size: 30px; 
}
    
.right1-button {
     margin-top: 3em;   
}

    }



/* ---------------------- DESKTOP VERSION ---------------------------- */

@media (min-width: 75em) {

/* MAIN CONTENT */

.right-episode-link {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 50em 1em 0;
}
    
.right-link {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 30px;
}
    
/** LEFT DIVS **/       
    
/*First Section */

.moti-logo {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 80px;
  margin: -16em 0 0 3em;
}

.moti-logo img {
    max-width: 100%;
    height: auto;
} 

.wt-description-left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    max-width: 590px;
    text-align: left;
    padding: 3px;
    margin: 1.2em 0 0 3em;
    color: #fff;
}

.wt-description-left h1 {
    font-size: 2em;
    line-height: 44px;
    letter-spacing: 3px;
}

#left1 p {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 28px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.wt-description-left .authors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; 
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 20px;
  letter-spacing: normal;
  text-align: center;
}
    
.wt-description-left .authors div {
   padding: 1.5em;
   margin-bottom: 1em;    
}  

.wt-description-left .socials {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 18px;
  letter-spacing: normal;
  display: flex; 
  flex-flow: column wrap;
  margin-top: 2em; 
}

.wt-description-left .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 1em;    
}

.wt-description-left .social-icons a {
   color: #fff; 
   font-size: 30px; 
}    
        


/** RIGHT DIVS **/


/* First section */
    
#right1 img {
    max-width: 50%;
    height: auto;
}

.wt-description-right {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    max-width: 590px;
    text-align: right;
    padding: 3px;
    margin: -9.5em 0 0 19em;
}

.wt-description-right h1 {
    font-size: 2em;
    line-height: 44px;
    letter-spacing: 3px;
}

#right1 p {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 28px;
    letter-spacing: normal;
    padding-bottom: 15px;
}

.wt-description-right .authors {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; 
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 20px;
  letter-spacing: normal;
  text-align: center;
}
    
.wt-description-right .authors div {
   padding: 1.5em;
   margin-bottom: 1em;    
}    

.wt-description-right .socials { 
  font-weight: 400;
  font-size: 0.9em;
  line-height: 18px;
  letter-spacing: normal;
  display: flex; 
  flex-flow: column wrap;  
}

.wt-description-right .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 1em;    
}

.wt-description-right .social-icons a {
   color: #000; 
   font-size: 40px; 
}
    

    }